$rojorimac: #ef3340;

@mixin flexCenter {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	color: rgb(73, 79, 102);
	
}
.info p{
	padding: 17px 40px;
	font-size: 18px;
	line-height: 32px;	
}
.button {
	background-color: $rojorimac; /* Green */
	border: none;
	color: white;
	padding: 17px 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
	height: 56px;
  }
.button-line {
	background-color: white; 
	color: $rojorimac; 
	border: 1px solid $rojorimac;
	&:hover{
		background-color: $rojorimac;
		color: white
	}
  }
.h1{
	padding: 17px 4px;
	font-size: 56px;
	line-height: 68px;
	letter-spacing: -0.6px;
	
}
.title-flex-red{
	color: $rojorimac; 
	padding: 0;
	font-weight: bold;
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(7, auto);
	grid-template-areas: "header header header header header header"
						 "cont-1 cont-1 cont-1 cont-1 cont-1 cont-1"
						 "cont-2 cont-2 cont-2 cont-2 cont-2 cont-2"					 
						 "cont-3 cont-3 cont-3 cont-3 cont-3 cont-3"
						 "cont-4 cont-4 cont-4 cont-4 cont-4 cont-4"
						 "cont cont cont cont cont cont"
						 "footer footer footer footer footer footer";

	
	.header {
	background: $rojorimac;
	@include flexCenter();
	color: white;
	text-align: left;
	display: flex;
	align-items: left;
	justify-content: left;
	grid-area: header;
	height: 2.8em;
		img{
			width: 12%;
			padding: 30px;
			
		}
	}

	.contenedor1 {
		grid-area: cont-1;
		@include flexCenter();

		img{
			width: 100%;
			max-height: none;
			max-width: 400px;
		}
	}

	.contenedor2{
		@include flexCenter();
		grid-area: cont-2;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(3, 3fr);
		grid-template-rows: repeat(2, auto);
		grid-template-areas:  "h1 h1 h1"
							  "widget-1 widget-2 widget-3";
		h1{
			grid-area: h1;
			span{
				font-size: 36px;
			}
		}

		h3{
			padding: 9px;
		}
		
		.widget-1 {
			grid-area: widget-1;
		}
		.widget-2 {
			grid-area: widget-2;
		}
		.widget-3 {
			grid-area: widget-3;
		}
	}

	.contenedor3{
		@include flexCenter();
		grid-area: cont-3;
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-template-areas: "h1 h1"
							 "card-1 card-2";
		h1{
			grid-area: h1;
		}
		img{
			width: 40%;
		}
		.card-1, .card-2{
			
			display: block;
			align-items: center;
			justify-content: center;
		}
		.card-1{
			grid-area: card-1;
		} 
		.card-2{
			grid-area: card-2;
		} 

	}
	.contenedor4 {
	grid-area: cont-4;
	 display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "img widget-5"
						 "widget-4 widget-6";
		img{
			width: 80%;
			grid-area: img;
		}
		.widget-4{
			grid-area: widget-4;
		}  
		.widget-5{
			grid-area: widget-5;
		} 
		.widget-6{
			grid-area: widget-6;
		}  
	}

	.conten{
		grid-area: cont;
		width: 90%;
		max-width: 1000px;
		margin: 80px auto;
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-template-areas: "widget-7 widget-8 widget-9 widget-10 widget-11";
		.widget-7{
		grid-area: widget-7;
		}  
		.widget-8{
			grid-area: widget-8;
		} 
		.widget-9{
			grid-area: widget-9;
		} 
		.widget-10{
			grid-area: widget-10;
		} 
		.widget-11{
			grid-area: widget-11;
		} 
	
	}


	.footer {
		@include flexCenter();
		color: #fff;
		grid-area: footer;
		display: flex;
		flex-direction: row;
		width: 100%;
		.ri{
			width: 60px; height: 35px;
		  }
		  .seguro{
			  color: rgb(58, 52, 52);
			display: inline-block;
			flex: 1;
		  }
		  .redes {
			display: inline-block;
		  
		  }
		  .cont {
			width: 40px; height: 40px;
		  
		  }
	}

	
	
	
}


	

// @media screen and (max-width: 768px){
// 	.contenedor {
// 		grid-template-areas: "header header header header header header"
// 						     "info info	 info info info	 info"
// 						     "footer footer footer footer footer footer";
// 	}
// }


// @media screen and (max-width: 468px){
// 	.contenedor {
// 		grid-template-areas: "header header header header header header"
// 						 "info info	 info info info	 info"
						
// 						 "footer footer footer footer footer footer";
// 	}
// }